@import "tailwindcss";

/* Esconde o scrollbar, mas mantém a funcionalidade de rolagem */
.no-scrollbar {
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    scrollbar-width: none; /* Para Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Opera */
  }
.container{
  @apply lg:max-w-[650px] max-w-[375px] max-h-full lg:max-h-full flex justify-center mx-auto;
}